.LandingPage {
    text-align: center;
  }
  
  .LandingPage-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .LandingPage-logo {
      animation: LandingPage-logo-spin infinite 20s linear;
    }
  }
  
  .LandingPage-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .LandingPage-link {
    color: #61dafb;
  }
  
  img.kafka-img {
    width: 50%;
    margin: 0 auto;
    height: 40vh;
  }
  
  input, button {
    width: calc(100% - 50rem);
    height: 40px;
    border-radius: 5%;
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    text-align: center;
    font-size: large;
  }
  
  button {
    width: 180px;
    border-radius: 50px;
    height: 50px;
    color: #e6e6fa !important;
  }
  
  @media screen and (max-width: 1024px) {
    img.kafka-img {
      width: 60%;
      height: auto;
    }
  
    input {
      width: calc(100% - 10rem);
    }
  }
  
  @keyframes LandingPage-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  